[submodule "Acrylic/vendor/spdlog"]
	path = Acrylic/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Acrylic/vendor/GLFW"]
	path = Acrylic/vendor/GLFW
	url = https://github.com/marc-cr1810/glfw
[submodule "Acrylic/vendor/imgui"]
	path = Acrylic/vendor/imgui
	url = https://github.com/marc-cr1810/imgui
[submodule "Acrylic/vendor/glm"]
	path = Acrylic/vendor/glm
	url = https://github.com/g-truc/glm
